<picture class="lead__image">
    <source srcset="../../../../assets/images/image-web-3-desktop.jpg" media="(min-width: 998px)" />
    <img src="../../../../assets/images/image-web-3-mobile.jpg" alt="Geometric figure that represents the web 3.0" />
</picture>

<section class="lead__content">
    <h1 class="lead__heading ">The Bright Future of Web 3.0</h1>
    <div class="lead__information-action">
        <p class="lead__body">We dive into the next evolution of the web that claims to put the power of the platforms back into the hands of the people. But is it really fulfilling its promise?</p>
        <button class="lead__cta" href="www.google.com">READ MORE</button>
    </div>
</section>