<div class="topics">
    <div class="topics__item">
        <img
            class="topics__item--img"
            src="../../../../assets/images/image-retro-pcs.jpg"
            alt="Pc retro low poly"
        >
        <div class="topics__item--content">
            <p class="topics__item--number">01</p>
            <h2 class="topics__item--heading">
                <a class="topics__item--heading-link">Reviving Retro PCs</a>
            </h2>
            <p class="topics__item--body">What happens when old PCs are given modern upgrades?</p>
        </div>
    </div>

    <div class="topics__item">
        <img
            class="topics__item--img"
            src="../../../../assets/images/image-retro-pcs.jpg"
            alt="Pc retro low poly"
        >
        <div class="topics__item--content">
            <p class="topics__item--number">01</p>
            <h2 class="topics__item--heading">
                <a class="topics__item--heading-link">Reviving Retro PCs</a>
            </h2>
            <p class="topics__item--body">What happens when old PCs are given modern upgrades?</p>
        </div>
    </div>

    <div class="topics__item">
        <img
            class="topics__item--img"
            src="../../../../assets/images/image-retro-pcs.jpg"
            alt="Pc retro low poly"
        >
        <div class="topics__item--content">
            <p class="topics__item--number">01</p>
            <h2 class="topics__item--heading">
                <a class="topics__item--heading-link">Reviving Retro PCs</a>
            </h2>
            <p class="topics__item--body">What happens when old PCs are given modern upgrades?</p>
        </div>
    </div>
</div>
