<aside class="news">
    <h2 class="news__heading">New</h2>
    <div class="news__container">
        <div class="news__item">
            <h3 class="news__item--heading">
                <a class="news__item--cta">Hydrogen VS Electric Cars</a>
            </h3>
            <p class="news__item--body">Will hydrogen-fueled cars ever catch up to EVs?</p>
        </div>
        <div class="news__item">
            <h3 class="news__item--heading">
                <a class="news__item--cta">The Downsides of AI Artistry</a>
            </h3>
            <p class="news__item--body">What are the possible adverse effects of on-demand AI image generation?</p>
        </div>
        <div class="news__item">
            <h3 class="news__item--heading">
                <a class="news__item--cta">Is VC Funding Drying Up?</a>
            </h3>
            <p class="news__item--body">Private funding by VC firms is down 50% YOY. We take a look at what that means.</p>
        </div>
    </div>
</aside>